<p>
  home works!
</p>

<button [hidden]= !mostrar [ngStyle]="{backgroundColor: 'red' }" (click)= 'ver()'>ver boton</button>
<button [hidden]= mostrar [ngStyle]="{backgroundColor: 'yellow' }" (click)= 'ver()'>ocultar boton</button>

<input type="text" [(ngModel)] = nombre>

<p *ngIf="mostrar"> tu nombre es: {{ nombre }} </p>
<button (click)= 'verifica()'>{{ valorBoton }}</button>

<div *ngIf="verificar">
  <h3>grupo de etiqutas</h3>
  <button (click)= 'ver()'>Galeria</button>
  <button (click)= 'ver()'>Noticias</button>
  <input type="text" >
</div>

<app-menu></app-menu>
<div class = "row">
  <h3>hijos de APP</h3>
  <button [routerLink]="['/login']">Login</button>
  <button [routerLink]="['/galeria']">Galeria</button>
  <button [routerLink]="['/noticias']">Noticias</button>
  <button [routerLink]="['/adm']">Administrador</button>
</div>
<div class = "row">
  <h3>hijos de HOME</h3>
  <button [routerLink]="['/home/cuerpo']">Cuerpo</button>
  <button [routerLink]="['/home/slide']">Slide</button>
</div>


<router-outlet></router-outlet>

<app-footer></app-footer>


